@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #201636;
}

.main {
    margin-top: 100px;
    max-width: 100%;
}

.first-block {
    background-image: url(/Homework4/img/braveman.png);
    background-repeat: no-repeat;

}

.first-block_wrapper {
    margin-left: 50%;
    padding-top: 200px;
    max-width: 670px;

}

.first-block_title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 95px;
}

.first-block_first-text-block {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

.first-block_second-text-block {
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    text-align: center;
    padding: 10px 50px;
    margin-bottom: 50px;
}

.first-block_button-block {
    padding-bottom: 140px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.first-block_date {
    max-width: 130px;
}
.first-block_date-text{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    float: top;
}

.button {
    width: 300px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    background-color: #F09F0C;
    box-shadow: 0px 4px 20px #7D5103;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.button:hover {
    background-color: #ffc400;
}

.double-block {
    padding-top: 130px;
    background-image: url(/Homework4/img/Фон.png);
    background-repeat: no-repeat;
}

/**.double-block::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #201636;
    opacity: 0.75;
} **/

.second-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-block_features {
    max-width: 370px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.second-block_features:last-child {
    margin-right: 0;
}

.second-block_icon {
    margin-bottom: 30px;
}

.second-block_text {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 23.4px;
    margin-bottom: 120px;
}

.second-block_text > span {
    font-weight: 900;
}

.third-block {
    position: relative;
}

.third-block_title {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.third-block_title > span {
    color: #F09F0C;
}

.third-block_subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.third-block_wrapper {
    margin-top: 75px;
}

.third-block_picture-block {
    position: absolute;
    top: -100px;
}

.third-block_list-ul {
    margin-left: 55%;
    max-width: 640px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
}

.third-block_list-li {
    margin-bottom: 20px;
}

.third-block_list-li:last-child {
    margin-bottom: none;
}

.third-block_list-li::before {
    content: '';
    width: 26px;
    height: 24px;
    background-image: url(/Homework4/img/Arrow.png);
    display: inline-block;
    position: absolute;
    left: 52%;




}



