@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: #354657;
}

.header {
    background-color: #F8F4FC;
}

.header_container {
    max-width: 1255px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.header_navbar {
    list-style-type: none;
}

.header_navbar li {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 50px;
}

.header_navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.header_navbar li:last-child {
    margin-right: 0;
}

.header_icon a {
    margin-right: 35px;
}

.header_icon a:last-child {
    margin-right: 0;
}

.main_container {
    max-width: 1288px;
    margin: 0 auto;
}

.main_title {
    margin-top: 70px;
    color: #354657;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 17px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 40px;
}

.main_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_registration, .main_personal-info {
    max-width: 29.81%;
    width: 100%;
}

.main_delivery, .main_product {
    max-width: 67.85%;
    width: 100%;
} 

.main_subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px
}

/* Стилізація обгортки для radio */

.main__radio {
    display: inline-block;
    position: relative;
}

/* стилізація radio */ 

.main__radio--input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.main__radio--label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px;

    /* під питанням, можливо margin-right? */
    padding-right: 20px;

    cursor: pointer;
}

.main__radio--label::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid #946FD3;
    border-radius: 50%;
    background-color: #F0F2F5;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main__radio--label::after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;

    border-radius: 50%;
    background-color: #946FD3;
    opacity: 0;

    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;

    transition: opacity .1s linear;
}

.main__radio--input:checked + .main__radio--label::after {
    opacity: 1;
}


.radio-block {
    margin-bottom: 20px;
}

.text-block {
    margin-bottom: 30px;
}


.form-block {
    padding: 20px 20px 30px 20px;
    background-color: #F0F2F5;
    margin-bottom: 30px;
}

/* Стилізація input text */

.main__input-text--label {
    color: #354657;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    display: inline-block;
    margin-bottom: 10px;
}

.main__input-text--input {
    color: #354657;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px;
    border-radius: 3px;
    width: 100%;
    border: solid 1px #B6B6B6;

    margin-bottom: 20px;

    outline:none;
    transition: all .1s linear;
}

.main__input-text--input:focus {
    border: solid 1px;
    border-color: #946FD3;
}

.main__input-text--input::placeholder {
    color: #ADA8A8;
}

.main_payment {
    margin-bottom: 32px;
}

/*Стилізація таблиці з інформацією про товар*/

.main_basket {
    background-color: white;
}

.main__table1 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 6px;
    align-items: center;
}

.main__table1--title {
    background-color: #F0F2F5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 12.5px 0 12.5px 20px;
}

.main__table1--element {
    padding-left: 20px;
}


/* Стилізація кнопок в таблиці */

.main__table1--element > button {
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.main__table1--reset {
    background-color: #F83737;
}

.element-option {
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 10px; /*відступи між елементами в блоці з кнопками*/
}

.main__table1--quantity {
    width: 47px;
    padding-left: 10px;
    border: 2px solid #E9E9E9;
    border-radius: 3px;

    outline: none;
    transition: border .1s linear;
}

.main__table1--quantity:focus {
    border-color: #946FD3;
}

/* Стилізація другої таблиці */

.main__table2 {
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: end;
    align-items: center;

    margin-bottom: 30px;
}

.main__table2--title, .main__table2--element {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.main__table2--grey {
    background-color:#FAFAFA;
}

.main__table2--title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    
    text-align: end;
}

.main__table2--element {
    font-size: 16px;
    font-weight: 400;
}

.main__input-textarea {
    resize: none;
}

/*Стилізація checkbox*/

.main__checkbox {
    position: relative;

    margin-bottom: 30px;
    
    /*display: inline-block;*/
}

.main__checkbox--input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.main__checkbox--label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-left: 25px;

    cursor: pointer;
}

.main__checkbox--label::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid #946FD3;
    border-radius: 3px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: all .1s linear;
}

.main__checkbox--label::after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;

    background: url("/Homework7/img/check-mark-svgrepo-com.svg") no-repeat;
    background-size: 13px 13px;
    opacity: 0;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;

    transition: all .1s linear;

}


.main__checkbox--input:checked + .main__checkbox--label::before {
    background-color: #946FD3;
}

.main__checkbox--input:checked + .main__checkbox--label::after {
    opacity: 1;
}

/*Стилізація кнопки*/

.main__submit {
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.main__submit-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    
    background-color: #946FD3;

    border: none;
    border-radius: 50px;

    padding: 18px 32px;

    cursor: pointer;

    transition: all .2s linear;
}

.main__submit-button:hover {
    background-color: #946FD3;
    
    -webkit-box-shadow: 0px 0px 9px 0px rgba(148,111,211,0.92); 
    box-shadow: 0px 0px 9px 0px rgba(148,111,211,0.92);
}





.footer {
    border-top: solid 1px #E2E2E2;
    background-color: white;
    position: relative;
    z-index: 1;
}

.footer_container {
    max-width: 1255px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_navbar {
    list-style-type: none;
}

.footer_navbar li {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 50px;
}

.footer_navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.footer_navbar li:last-child {
    margin-right: 0;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_link {
    height: 28px;
    width: 28px;
    color: white;
    background-color: #354657;
    border-radius: 50%;
    text-align: center;
    margin-right: 17px;
    cursor: pointer;
    padding-top: 5px;
}

.footer_link:last-child {
    margin-right: 0;
}

.footer_links i {
    font-size: 18px;
}

.footer-facebook {
    padding-left: 5px;
}