div p {
  color: white;
  background-color: green;
}

div > h4 {
  color: white;
  background-color: blue;
}

div ~ p {
  color: blue;
}

.object {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  transition: all 1s ease;
  position: relative;
  margin-left: 15px;
}

.object:hover {
  background-color: aqua;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
}

.object:hover::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -10%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}
