@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #F8F4FC;
}

.header_container {
    max-width: 1255px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.header_navbar {
    list-style-type: none;
}

.header_navbar li {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 50px;
}

.header_navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.header_navbar li:last-child {
    margin-right: 0;
}

.header_icon a {
    margin-right: 35px;
}

.header_icon a:last-child {
    margin-right: 0;
}

.main_container {
    max-width: 740px;
    margin: 0 auto;
}

.main_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.main_picture {
    margin-bottom: 40px;
}

.main_article {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #354657;
    margin-bottom: 40px;

}

.main_quote {
    margin-bottom: 40px;
    height: 140px;
    border-left: solid 4px #946FD3;
    padding: 6px 23px;
}

.main_quotation-text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 150%;
    margin-top: 12px;
    color: #7D7D7D;
}

.second-article {
    margin-bottom: 30px;
}

.main_share {
    border-top: solid 1px #E2E2E2;
}

.main_share-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main_share-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.main_share-links span {
    font-size: .8em;
    font-weight: 700;
}

.link {
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.link:last-child {
    margin-right: none;
}

.main_share-facebook {
    background-color: #3B5998;
}

.main_share-twitter {
    background-color: #1DA1F2;
}

.main_share-pinterest {
    background-color: #CB2027;
}

.main_share-email {
    background-color: #848484;
}

.main_share-more {
    background-color: #FF6550;
}

.main_share-links i {
    padding-right: 5px;
}

.main_background-image {
    position: absolute;
    right: 0px;
    top: 675px;
}

.footer {
    border-top: solid 1px #E2E2E2;
    background-color: white;
    position: relative;
    z-index: 1;
}

.footer_container {
    max-width: 1255px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_navbar {
    list-style-type: none;
}

.footer_navbar li {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 50px;
}

.footer_navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.footer_navbar li:last-child {
    margin-right: 0;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_link {
    height: 28px;
    width: 28px;
    color: white;
    background-color: #354657;
    border-radius: 50%;
    text-align: center;
    margin-right: 17px;
    cursor: pointer;
    padding-top: 5px;
}

.footer_link:last-child {
    margin-right: 0;
}

.footer_links i {
    font-size: 18px;
}

.footer-facebook {
    padding-left: 5px;
}