@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: black;
  color: white;
}

.header-block {
  padding: 15px 10%;
  border-bottom: 1px solid #272727;
}
.header-list {
  display: inline-block;
}

.title {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: #1acd4c;
  margin-right: 10px;
}

.logo-line {
  border-left: 1px solid #272727;
  height: 30px;
  margin-right: 10px;
}

.card-number {
  font-weight: 400;
  font-size: 16px;
  margin-right: 80px;
}

.title-list {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 30px;
}

.selected {
  color: #1acd4c;
}

.main {
  margin: 90px 10% 0 10%;
}
.main-title {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
}

.main-table {
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}
.table-head {
  font-weight: 700;
  font-size: 13px;
  color: #1acd4c;
  text-transform: uppercase;
}

th {
  border: 1px solid #272727;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 25px;
}

td {
  padding: 5px 23px;
}

.clicker {
  margin: 30px auto 0 auto;
  max-width: 50%;
}
.clicker-element {
  display: inline-block;
  margin-right: 20px;
}
