@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    background-color: #4a78f7;

}

.header {
    background-image: url(/Homework5/img/Bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -122px;
    height: 740px;
}

.wrapper {
    max-width: 1110px;
    min-width: 800px;
    margin: 0 auto;
}

.header_wrapper {
    overflow: hidden;
    padding-top: 30px;
}

.header_logo {
    float: left;
    margin-left: 10px;
}

.header_burger {
    width: 50px;
    height: 50px;
    background-color: #F7654A;
    float: right;
    padding: 17.5px 15px;
    cursor: progress;
    margin-right: 10px;
}

.header_burger-stick {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
    transition: all .7s;
}

.header_burger-stick:last-child {
    margin-bottom: none;
}

.header_burger:hover .header_burger-stick:first-child {
    transform: translateX(6px);
}

.header_burger:hover .header_burger-stick:last-child {
    transform: translateX(-6px);
}
    

.header_title {
    font-weight: 500;
    font-size: 64px;
    color: white;
    text-transform: uppercase;
    max-width: 750px;
    margin: 150px auto 0;
    text-align: center;
    line-height: 95px;
    letter-spacing: 0.02em;
}

.header_subtitle {
    margin: 30px auto 0;
    text-align: center;
    max-width: 750px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 27px;
    text-transform: uppercase;
}

.main {
    background-color: white;
}

.main_wrapper {
    max-width: 1110px;
    min-width: 800px;
    margin: 0 auto;
}

.main_experience-block {
    height: 300px;
    background-color: #F7F7F7;
    padding: 57px 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -150px;

}

.main_experience-title {
    font-size: 72px;
    font-weight: 500;
    line-height: 107px;
    text-align: center;
    color: #F7654A;
}

.main-experience-subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.main-experience-text {
    color: gray;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.main_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 60px;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main_container-element {
    max-width: 350px;
}

.main_container-image {
    height: 380px;
    background-image: url(/Homework5/img/stadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 45px;
    cursor: progress;
}

.main_container-line {
    width: 55px;
    height: 6px;
    background-color: #F7654A;
    margin-bottom: 15px;
}

.main_container-title {
    font-weight: 500;
    font-size: 24px;
    color: #404149;
    line-height: 36px;
    margin-bottom: 20px;
}

.main_container-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    margin-bottom: 120px;
}

.footer {
    background-color: #F7654A;
}

.footer_container {
    max-width: 1110px;
    min-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer_title {
    font-weight: 700;
    font-size: 48px;
    color: white;
    line-height: 71px;
    margin-bottom: 20px;
}

.footer_subtitle {
    font-weight: 700;
    font-size: 24px;
    color: white;
    line-height: 36px;
}

.footer_button-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_button {
    width: 175px;
    background-color: white;
    height: 50px;
    border: none;
    cursor: progress;
    padding: 14px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: all .7s;
}

.footer_button-envelope > i {
    font-size: 18px;
}

.footer_button-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

.footer_button:hover {
    background-color: #d1d1d1;
    
}
